
<div class="container">
  <div class="row">
      <div class="col-md-3 mb-5" *ngFor="let user of users" >
        <div class="card" >
            <img  src="{{ user.albums?.[0]?.photos?.[0]?.thumbnailUrl }}" class="card-img-top">
          <div class="card-body">
            <p class="card-title" style="text-align: center;"><strong>{{user.name}}</strong></p>
            <hr>
            <p style="text-align: center;">{{user.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>